{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="hero">
    <div class="container">
        <div>
            <h1>Bienvenue dans l’univers de Xochimilco</h1>
        </div>
        <div class="text-accueil">
            <p>L'univers fascinant de l’axolotl, un amphibien hors du commun qui séduit par son apparence unique.</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="connexion">
        <div class="connexion-text">
            <h2>Venez découvrir nos axolotls “Xolos”</h2>
            <p>Dans l’univers Xochilmico dédiée aux amoureux et fans des axolotls, nos axolotls sont appelés “Xolos” qui signifie “monstres”.</p> 
            <p>C'est un lieu d'entraide bienveillant où chacun peut progresser à son rythme, qu’il soit curieux, novice ou expérimenté. Des sujets variés y sont abordés : reproduction, soins, aménagement, génétique, ou encore adoption...</p>
            <p>Venez partager votre passion et votre amour des axolotls avec nous et inscrivez vous.</p>
            <a href=""></a>
        </div>
        <div class="connexion-img">
            <img src="{{ asset('../assets/img/axo1.png')}}" alt="Image Axolotl">
        </div>
    </div>

</section>
<section class="container">
    <div class="galerie">
        <div class="galerie-text">
            <h2>Notre Galerie</h2>
            <p>Découvrez notre galerie de photos inspirantes où vous pourrez partager vos merveilleux petits "Xolos" qu'ils soient dorés, tachetés, blancs, ou albinos.</p>
            <p>Un espace pour échanger conseils, photos, expériences, poser ses questions.</p>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard1.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Patrick</h3>
                <p>Leucistique blanc</p>
                <p>Je vous présente Patrick mon Axolotl de 2 ans...</p>
            </div>
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard2.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Patrick</h3>
                <p>Leucistique blanc</p>
                <p>Je vous présente Patrick mon Axolotl de 2 ans...</p>
            </div>
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard3.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Patrick</h3>
                <p>Leucistique blanc</p>
                <p>Je vous présente Patrick mon Axolotl de 2 ans...</p>
            </div>
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('../assets/img/axocard4.jpg')}}" alt="Image Axolotl">
                </div>
                <h3>Patrick</h3>
                <p>Leucistique blanc</p>
                <p>Je vous présente Patrick mon Axolotl de 2 ans...</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
