{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="hero">
    <div class="container">
        <div>
            <h1>Bienvenue dans l’univers de Xochimilco</h1>
        </div>
        <div class="text-accueil">
            <p>L'univers fascinant de l’axolotl, un amphibien hors du commun qui séduit par son apparence unique.</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="connexion">
        <div class="connexion-text">
            <h2>Venez découvrir nos axolotls “Xolos”</h2>
            <p>Dans l’univers Xochilmico dédiée aux amoureux et fans des axolotls, nos axolotls sont appelés “Xolos” qui signifie “monstres”.</p> 
            <p>C'est un lieu d'entraide bienveillant où chacun peut progresser à son rythme, qu’il soit curieux, novice ou expérimenté. Des sujets variés y sont abordés : reproduction, soins, aménagement, génétique, ou encore adoption...</p>
            <p>Venez partager votre passion et votre amour des axolotls avec nous et inscrivez vous.</p>
            <a class="btn-inscription" href="{{ path("inscription") }}">S'inscrire</a>
        </div>
        <div class="connexion-img">
            <img src="{{ asset('../assets/img/axo1.png')}}" alt="Image Axolotl">
        </div>
    </div>
</section>
<section>
    {% for message in app.flashes('success')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
    {% endfor %}
</section>
<section class="container">
    <div class="galerie-accueil">
        <div class="galerie-text-accueil">
            <h2>Notre Galerie</h2>
            <p>Découvrez notre galerie de photos inspirantes où vous pourrez partager vos merveilleux petits "Xolos" qu'ils soient dorés, tachetés, blancs, ou albinos.</p>
            <p>Un espace pour échanger conseils, photos, expériences et poser ses questions.</p>
        </div>
        {% for article in articles %}
        <div class="card">
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ asset('/uploads/images/' ~ article.imageName)}}" alt="Image Axolotl">
                </div>
                <h3>{{article.titre}}</h3>
                <h4>Nom : {{article.nom}}</h4>
                <p>Couleur : {{article.couleur}}</p>
                <a class="btn-plus" href={{ path("article", {'id' : article.id})}}>Voir plus</a>
            </div>               
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}
