{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<section class="container">
    <div class="galerie">
        <div class="galerie-text">
            <h2>Notre Galerie</h2>
            <p>Découvrez notre galerie de photos inspirantes où vous pourrez partager vos merveilleux petits "Xolos" qu'ils soient dorés, tachetés, blancs, ou albinos.</p>
            <p>Un espace pour échanger conseils, photos, expériences et poser ses questions.</p>
        </div>
        <div class="add-article">
        {% if is_granted('ROLE_USER')%}
            <a class="btn-add" href={{ path("add_article")}}>Ajouter un article</a>
        {% endif %}
        </div>
        {% for message in app.flashes('success')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
        {% endfor %}
        {% for article in articles %}
        <div class="galerie-card">
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('/uploads/images/' ~ article.imageName)}}" alt="Image Axolotl">
                </div>
                <h3>{{article.titre}}</h3>
                <h4>{{article.nom}}</h4>
                <p>{{article.couleur}}</p>
                <p>{{article.description}}</p>
                {% if is_granted('ROLE_USER')%}
                <div class="btn-article">
                    <a class="btn-modif" href={{ path("update_article", {'id' : article.id})}}>Modifier</a>
                    <form action="{{ path("delete", {'id' : article.id}) }}" method="POST" onsubmit="return confirm ('Confirmer la suppression?')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ article.id)}}">
                        <input class="btn-sup" id="delete" type="submit" value="Supprimer">
                    </form>
                </div>
                {% endif %}
            </div>            
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
