{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{% for article in articles %}
        <div class="galerie-card">
            <div class="galerie-content">
                <div class="card-img">
                    <img src="{{ asset('/uploads/images/' ~ article.imageName)}}" alt="Image Axolotl">
                </div>
                <h3>{{article.titre}}</h3>
                <h4>{{article.nom}}</h4>
                <p>{{article.couleur}}</p>
                <p>{{article.description}}</p>
                {# {% if is_granted('ROLE_USER')%} #}
                <a href={{ path("update_article", {'id' : article.id})}}>Modifier</a>
                <form action="{{ path("delete", {'id' : article.id}) }}" method="POST" onsubmit="return confirm ('Confirmer la suppression?')">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ article.id)}}">
                    <input id="delete" type="submit" value="Supprimer">
                </form>
                {# {% endif %} #}
            </div>   
                         
        </div>
        <div>
            {# {% if is_granted('ROLE_USER')%} #}
                <a href={{ path("add_article")}}>Ajouter un article</a>
            {# {% endif %} #}
        </div>
        {% endfor %}

{% endblock %}
